@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*background: url(pur.png)no-repeat; */
    background: #E6E6FA;
    
    background-size:cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    color:black;
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: black;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;
}

header .navigation a:not(:last-child){
    margin-right: 30px;
}

header .navigation a:hover{
    background: #fff;
}

.content{
    max-width: 650px;
    margin: 60px 100px;
}

.content .info h2{
    color: black;
    font-size: 55px;
    text-transform:uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}

.content .info h2 span{
    color:black;
    font-size: 50px;
    font-weight: 600;
}

.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    
}




.content .info-btn{
    background: white;
    text-decoration: none;
    text-transform: uppercase;
    color:#191980;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    max-width: 400px;
    transition: 0.3s;
    transition-property: background;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.content .info-btn:hover{
    background: #bfbff8
}

label{
    display: none;
}


#check{
    z-index: 3;
    display: none;
}

@media (max-width: 960px){
    header .navigation{
        display: none;
    }

    label{
        display: block;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s;
        transition-property: color;
    }

    label:hover{
        color:#fff
    }

    label .close-btn{
        display: none;
    }

    #check:checked ~ header .navigation{
        z-index: 2;
        position: fixed;
        background: rgba(230, 230, 250, 0.9);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .navigation a{
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

    #check:checked ~ header label .menu-btn{
        display: none;
    }

    #check:checked ~ header label .close-btn{
        z-index: 2;
        display: block;
        position: fixed;
    }

    label .menu-btn{
        position: absolute;
    }

    header .logo{
        position: absolute;
        bottom: -9px;
    }

    .content .info h2{
        font-size: 45px;
        line-height: 50px;
    }

    .content .info h2 span{
        font-size: 40px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }
}

@media (max-width: 560px){
    .content .info h2{
        font-size: 35px;
        line-height: 40px;
    }

    .content .info h2 span{
        font-size: 30px;
        font-weight: 600;
    }

    .content .info p{
        font-size: 14px;
    }

    .box {
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
      margin: 30px 5%;
      padding: 5%;
    }
    
    @media (min-width: 544px) {
      .box {
        margin: 40px auto;
        max-width: 440px;
        padding: 40px;
      }
    }
}
    
    
    /* The list style
    -------------------------------------------------------------- */
    
    /*
    .directory-list ul {
      margin-left: 10px;
      padding-left: 20px;
      border-left: 1px dashed #ddd;
    }
    
    .directory-list li {
      list-style: none;
      color: #888;
      font-size: 17px;
      font-style: italic;
      font-weight: normal;
    }
    
    .directory-list a {
      border-bottom: 1px solid transparent;
      color: #888;
      text-decoration: none;
      transition: all 0.2s ease;
    }
    
    .directory-list a:hover {
      border-color: #eee;
      color: #000;
    }
    
    .directory-list .folder,
    .directory-list .folder > a {
      color: #777;
      font-weight: bold;
    }
    */
    
    
    /* The icons
    -------------------------------------------------------------- */
    /*
    .directory-list li:before {
      margin-right: 10px;
      content: "";
      height: 20px;
      vertical-align: middle;
      width: 20px;
      background-repeat: no-repeat;
      display: inline-block;
      /* file icon by default 
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightgrey' d='M85.714,42.857V87.5c0,1.487-0.521,2.752-1.562,3.794c-1.042,1.041-2.308,1.562-3.795,1.562H19.643 c-1.488,0-2.753-0.521-3.794-1.562c-1.042-1.042-1.562-2.307-1.562-3.794v-75c0-1.487,0.521-2.752,1.562-3.794 c1.041-1.041,2.306-1.562,3.794-1.562H50V37.5c0,1.488,0.521,2.753,1.562,3.795s2.307,1.562,3.795,1.562H85.714z M85.546,35.714 H57.143V7.311c3.05,0.558,5.505,1.767,7.366,3.627l17.41,17.411C83.78,30.209,84.989,32.665,85.546,35.714z' /></svg>");
      background-position: center 2px;
      background-size: 60% auto;
    }
    
    .directory-list li.folder:before {
      /* folder icon if folder class is specified 
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='lightblue' d='M96.429,37.5v39.286c0,3.423-1.228,6.361-3.684,8.817c-2.455,2.455-5.395,3.683-8.816,3.683H16.071 c-3.423,0-6.362-1.228-8.817-3.683c-2.456-2.456-3.683-5.395-3.683-8.817V23.214c0-3.422,1.228-6.362,3.683-8.817 c2.455-2.456,5.394-3.683,8.817-3.683h17.857c3.422,0,6.362,1.228,8.817,3.683c2.455,2.455,3.683,5.395,3.683,8.817V25h37.5 c3.422,0,6.361,1.228,8.816,3.683C95.201,31.138,96.429,34.078,96.429,37.5z' /></svg>");
      background-position: center top;
      background-size: 75% auto;
    }
}
*/

/*
body {
    background: #eee;
    font-family: "times new roman", serif;
    line-height: 30px;
  }
  
  h2 {
    color: #aaa;
    font-size: 30px;
    line-height: 40px;
    font-style: italic;
    font-weight: 200;
    margin: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
  }
*/