/*include the folloing line in <head>
    <link rel="stylesheet" href="Glossary.css">
*/
/* Include the following code in <body> to have this navigation bar

<div class="topnav">
<a class="navbar-brand" href="/" aria-label="Notelord"></a>
<a href="Home.html">Home</a>
<a href="Filepage.html">Files</a>
<a class="active" href="Glossary.html">Glossary</a>
<a href="Translate.html">Translate</a> 

only include class="active" onto respective page
*/

/* Add a purple background color to the top navigation */
.topnav {
    background-color: #6d6dd6;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #2c26d0;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2c26d0;
    color: white;
}

.topnav a.navbar-brand {
    float: right;
    line-height: 25px;
    color: white;
}

